input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


.fake-caret {
    width: 5px;
    background-color: var(--color-secundary); /* o tu color */
    animation: blink 1s infinite;
    position: absolute;
    height: 1em;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  