.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pointer-events-none {
    pointer-events: none;
}

.overflow-hidden {
    overflow: hidden;
}

.grid {
    display: grid;
}

.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid-rows-10 {
    grid-template-rows: repeat(10, 1fr);
}

.gap-1 {
    gap: 1px;
}